.wittericon {
    display: inline-block;
    background-color: #859097;
    width: 20px;
    height: 20px;
    transition: all 0.5s;
}

.wittericon.person {
    -webkit-mask: url(./files/person.svg) no-repeat center;
    mask: url(./files/person.svg) no-repeat center;
}

.wittericon.people {
    -webkit-mask: url(./files/people.svg) no-repeat center;
    mask: url(./files/people.svg) no-repeat center;
}

.wittericon.grid {
    -webkit-mask: url(./files/grid.svg) no-repeat center;
    mask: url(./files/grid.svg) no-repeat center;
}

.wittericon.folder {
    -webkit-mask: url(./files/folder.svg) no-repeat center;
    mask: url(./files/folder.svg) no-repeat center;
}

.wittericon.bell {
    -webkit-mask: url(./files/bell.svg) no-repeat center;
    mask: url(./files/bell.svg) no-repeat center;
}

.wittericon.search {
    -webkit-mask: url(./files/search.svg) no-repeat center;
    mask: url(./files/search.svg) no-repeat center;
}

.wittericon.question-mark {
    -webkit-mask: url(./files/question-mark.svg) no-repeat center;
    mask: url(./files/question-mark.svg) no-repeat center;
}

.wittericon.logout {
    -webkit-mask: url(./files/logout.svg) no-repeat center;
    mask: url(./files/logout.svg) no-repeat center;
}

.wittericon.checkmark {
    -webkit-mask: url(./files/checkmark.svg) no-repeat center;
    mask: url(./files/checkmark.svg) no-repeat center;
}

.wittericon.calender {
    -webkit-mask: url(./files/calender.svg) no-repeat center;
    mask: url(./files/calender.svg) no-repeat center;
}

.wittericon.message {
    -webkit-mask: url(./files/message.svg) no-repeat center;
    mask: url(./files/message.svg) no-repeat center;
}

.wittericon.clipboard {
    -webkit-mask: url(./files/clipboard.svg) no-repeat center;
    mask: url(./files/clipboard.svg) no-repeat center;
}