:root{
    /* Primary Colors */
    --main-fill-normal:#2779E2;
    --grey-two: #5B6582;
}

html, body{
    width: 100%;
    height: 100%;
}

body {
    font-family: "Graphik";
    background: #ffffff;
}

#wittercell{
    height: 100%;
}

/* Form Group */
.form--primary div.form-group {
    margin-bottom: 20px;
}

/* General inputs, labels and buttons */

.form--primary label {
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.25px;
    color: var(--grey-two);
}

.form-control.input--primary {
    color: #C3C7D1;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border: 1px solid #E8E9EA;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
}

.form-control.input--primary:focus {
    border-color:#084B8A;
}

.btn.btn--primary {
    color: #ffffff;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 0.25px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background: var(--main-fill-normal);
}
