div.menu {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background:#0B1318;
}

div.menu ul li {
    margin: 10px 0;
}

div.bottomActions { 
    margin-top: auto;
    margin-bottom: 5rem;
}

a.icon-link {
    background: transparent;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.icon-link:hover{
    border: 2px solid rgba(248, 249, 249, 0.05);
}

a.icon-link.active {
    background: rgba(248, 249, 249, 0.05);
}

a.icon-link.active .wittericon {
    background-color: #ffffff;
}

